@import url(//fonts.googleapis.com/css?family=Open+Sans:700italic,400);

@accentColor: #6495ed;
@fancyFont: "Open Sans", serif;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;

  h1, h2 {
    font-family: @fancyFont;
    font-weight: 700;
    font-style: italic;
    color: @accentColor;
  }

  h1.title {
    float: left;
    margin-top: 16px;
  }

  div.pagination {
    float: right;
  }
}

ul {
  form {
    display: inline;
  }
}

header {
  & > div {
    padding: 8px 0;
    background: #f5f5f5;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid #cccccc;

          a {
          text-decoration: none;
          display: block;
          font-family: @fancyFont;
          color: @accentColor;
        }
      }
    }
  }

  div.login-status {
    margin-right: 8px;
  }
}

form {
  dt, dd { display: inline; }

  dd.error { color: #b22222; }
}

/* This is a comment */