@(taskForm: Form[String])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@header = {
    <div>Or <em>THIS</em> nav</div>
}

@body = {
    <div class="row-fluid">
        <div class="span12">
            <h1 class="title"><span data-bind="text: totalTasks"></span> task(s)</h1>

            <div class="pagination">
                <ul data-bind="foreach: pagerLinks">
                    <li data-bind="css: { active: $root.pageIndex() == $index() }">
                        <a href="javascript: void(0);" data-bind="text: $index() + 1, click: $root.setPage.bind($data, $index())"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-success fade in" data-bind="visible: alertMessage()">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span data-bind="text: alertMessage">This is an alert.</span>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <tbody data-bind="foreach: tasks">
                    <tr>
                        <td class="span1" style="text-align: center;">
                            <input type="checkbox" />
                        </td>
                        <td class="span10">
                            <span data-bind="text: label"></span>
                        </td>
                        <td class="span1">
                            <a class="btn btn-mini pull-right" data-bind="click: $root.deleteTask"><i class="icon-remove"></i> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h2>Add a new task</h2>

            <div style="color:red;">@flash.get("wtf")</div>

            @form(routes.Application.tasks()) {

                @helper.input(taskForm("label")) { (id, name, value, args) =>
                    <input type="text" name="@name" data-bind="value: newTaskLabel" />
                }
                <input type="submit" class="btn btn-primary" data-bind="click: addTask" value="Create Task" />
            }
        </div>
    </div>
}

@main("Todo list")(body)